    <img src="./img/ava_chat.png" alt="аватар чата" class="img-avatar-chat">
    <div class="data-chat">
        <p class="title-chat">{{{titleChat}}}</p>
        <p class="last-message">{{{lastMessage}}}</p>
    </div>
    <time class="time">{{{lastTime}}}</time>
