<main class="container">
    <div class="wrapper-form">
        <form class="form-login" method="get" action="#">
            <h2 class="form-login__caption">Вход</h2>
            <fieldset class="form-login__inputs">
                    {{> inputLogin }}
                    {{> inputPassword }}
            </fieldset>
            <fieldset class="form-login__buttons">
                {{> buttonSubmit }}
                <a class="form-login__link" href="./signin.html">Регистрация</a>
            </fieldset>
        </form>
    </div>
</main>
