.label-input {
  display: flex;
  flex-direction: column;
  color: #999;
  font-size: 9px;
  margin-bottom: 16px;

  &__input {
    margin-top: 10px;
    color: var(--main-text-color);
    font-size: 13px;
    line-height: 13px;
    border-bottom: 1px solid var(--main-bg-color);
  }

  &__input::placeholder {
    color: #1e1e1e;
    font-size: 13px;
    line-height: 13px;
  }
}
