.label-input{
    display: flex;
    flex-direction: column;
    color: #999999;
    font-size: 9px;
    margin-bottom: 16px;
    &__input{
        margin-top: 10px;
        color: #1E1E1E;
        font-size: 13px;
        line-height: 13px;
        border-bottom: 1px solid #3369F3;
     }
    &__input::placeholder {
        color: #1E1E1E;
        font-size: 13px;
        line-height: 13px;
    }
}
