.container{
  height: 100%;
}
.wrapper-chat{
  display: flex;
  height: 100%;
}
.chat-list{
  width: 30%;
  height: 100%;
  border: 1px solid #1E1E1E;
}
.messages{
  height: 100%;
  border: 1px solid #1E1E1E;
}