{{{header}}}
<div class="wrapper-chat">
    <div class="chat-list">
        <div class="chat-list__settings">
            <img class="chat-list__img-add" src="./img/add.png" alt="добавить чат">
            <a href="./profile.html"> Профиль   ></a>
        </div>
        <div class="chat-list__wrapper">
            <ul class="chat-list__users">
                <li class="chat-list__user">
                    <div class="chat-list__img-user">
                        <img src="./img/ava_chat.png" alt="аватар чата">
                    </div>
                    <div class="chat-list__name">
                        <p class="chat-list__name-sign">Вадим</p>
                        <p class="chat-list__name-text"><b>Вы</b>Круто</p>
                    </div>
                    <div class="chat-list__option">
                        <time class="chat-list__time">10:25</time>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="chat-messages">
        <div class="chat-messages__wrapper">
            <div class="chat-messages__caption">
                <div class="chat-messages__img-chat">
                    <img src="./img/ava_chat.png" alt="аватар чата" class="chat-messages__ava-chat">
                </div>
                <div class="chat-messages__sign">
                    <p class="sign">Вадим</p>
                </div>
                <div class="chat-messages__menu">
                    <img src="./img/chat_menu.png" alt="меню чата" class="chat-messages__menu-chat">
                </div>
            </div>
            <div class="chat-messages__messages">
                <div class="chat-messages__date">1 августа</div>
                <div class="chat-messages__response">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae commodi, dolores doloribus eveniet fugiat iste iure labore laboriosam magnam minus molestiae natus necessitatibus, nisi non officia optio perspiciatis praesentium provident quaerat quos similique, voluptatibus.
                </div>
                <div class="chat-messages__my-text">
                    Круто
                </div>
            </div>
            <div class="chat-messages__wrapper-form">
                <form action="#" method="post" class="chat-messages__form form-chat">
                    <input class ="form-chat__img-menu" name="img-menu" type="image" src="./img/paperclip_chat.png">
                    <input class ="form-chat__mess" name="message" type="text" placeholder="сообщение">
                    <div data-name = 'message' class="error-message">
                        не должно быть пустым
                    </div>
                    <input class ="form-chat__sub" name="sub" type="submit" value="Отправить">
                </form>
            </div>
        </div>
    </div>
</div>
