.wrapper-chat {
  display: flex;
  height: 600px;
  margin-top: 50px;
}

.chat-list {
  width: 300px;
  height: 600px;
  border: 1px solid var(--main-border-color);
}
.chat-list__settings {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 20px;
}
.chat-list .search-form {
  display: inline-flex;
  padding: 0 20px;
  margin: 0 15px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: var(--bg-messag);
  overflow: hidden;
}
.chat-list .search-form__txt {
  border: none;
  width: 200px;
  height: 32px;
  outline: none;
  background: var(--bg-messag);
}
.chat-list .search-form__btn {
  border: none;
  background: var(--bg-messag);
}
.chat-list .search-form__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-list__wrapper {
  width: 300px;
  height: 600px;
}
.chat-list__img-add {
  width: 20px;
  height: 20px;
}
.chat-list__users {
  padding: 30px;
}
.chat-list__user {
  align-items: center;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--main-border-color);
  border-top: 2px solid var(--main-border-color);
}

.chat-messages__wrapper {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-messages__caption {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  height: 54px;
  border-bottom: 2px solid var(--main-border-color);
}
.chat-messages__sign {
  display: flex;
  flex: 1 1 auto;
  margin-left: 8px;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  color: var(--main-text-color);
}
.chat-messages__messages {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: flex-end;
}
.chat-messages__date {
  text-align: center;
  margin-bottom: 25px;
  color: var(--main-grey);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.chat-messages__response {
  width: 50%;
  background: var(--bg-messag);
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 45px;
  margin-left: 15px;
  padding: 10px;
  border-radius: 25px;
}
.chat-messages__my-text {
  background: #e4edfd;
  width: 120px;
  min-height: 40px;
  text-align: center;
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 26px;
  border-radius: 15px;
  align-self: end;
  padding-top: 5px;
}
.chat-messages__wrapper-form {
  padding-top: 20px;
  border-top: 2px solid var(--main-border-color);
  margin-top: 20px;
}
.chat-messages__wrapper-form .form-chat {
  display: flex;
  justify-content: space-between;
}
.chat-messages__wrapper-form .form-chat__mess {
  flex: 1 0 auto;
  color: var(--main-grey);
  background: var(--bg-messag);
  border-radius: 10px;
  padding-left: 10px;
  margin: 0 15px;
  outline: none;
  border: none;
}
.chat-messages__wrapper-form .form-chat__sub {
  background: var(--main-bg-color);
  color: var(--bg-messag);
  border-radius: 10px;
  padding: 5px;
}

.add-chat-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}

.wrapper-madal {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-modal {
  background-color: var(--bg-messag);
  color: var(--main-text-color);
  max-width: 400px;
  padding: 10px;
}

li {
  cursor: pointer;
}

.sear-form {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}

.content-sear {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sear-input {
  outline: #1e1e1e;
  border: #1e1e1e solid 2px;
}

.sear-res {
  height: 50px;
  border: #1e1e1e solid 2px;
}

/*# sourceMappingURL=chat.css.map */
