<main class="container">
    <div class="wrapper-chat">
        <div class="chat-list">
            <p>Здесь пока ничего нет добавьте собеседника или создайте новый чат</p>
        </div>
        <div class="messages">
            <p>Здесь пока ничего нет добавьте собеседника или создайте новый чат</p>
        </div>
    </div>
</main>