<main class="container">
    <div class="wrapper-chat">
        <div class="chat-list">
            <div class="chat-list__setings">
                <img class="chat-list__img-add" src="./img/add.png" alt="добавить чат">
                <a href="./profile.html"> Профиль   ></a>
            </div>
            <div class="chat-list__users">
                <p class="chat-list__p">Здесь пока ничего нет добавьте собеседника или создайте новый чат</p>
            </div>
        </div>
        <div class="chat-messages">
            <p class="chat-list__p">Здесь пока ничего нет добавьте собеседника или создайте новый чат</p>
        </div>
    </div>
</main>