<div class="wrapper-error">
    <h1 class="wrapper-error__caption">{{codeError}}</h1>
    <p class="wrapper-error__p">{{textError}}</p>
    <a class="wrapper-error__link" href="./chat.html">Назат к чатам</a>
</div>