<main class="container">
    <div class="wrapper-error">
        <h1 class="wrapper-error__caption">500</h1>
        <p class="wrapper-error__p">Уже фиксим</p>
        <a class="wrapper-error__link" href="./chat.html">Назат к чатам</a>
    </div>
</main>