<div class="wrapper-profile">
    <div>
        <img src="#" alt="фото профиля">
    </div>
    <div>
        <p>Почта</p>
        <p>Фамилия</p>
        <p>Телефон</p>
        <p>Имя в чате</p>
        <p>телефон</p>
        <br>
        <br>
        <br>
        <br>

        <p>Изменить</p>
        <p>Выйти</p>
    </div>

</div>