.wrapper__form-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper__ava {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.profile-ava {
  display: none;
}

.label-ava {
  width: 130px;
  height: 130px;
  display: block;
}

.profile-name {
  margin-top: 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: var(--main-text-color);
}

.form-profile {
  margin: 0 auto;
  width: 510px;

  &__inputs {
    display: flex;
    flex-direction: column;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    .button-change-data {
      margin-bottom: 15px;
      background: none;
      color: var(--blue-text);
      text-align: left;
      font-size: 16px;
      line-height: 16px;
    }

    .button-change-pass {
      background: none;
      color: var(--blue-text);
      text-align: left;
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__link {
    margin-top: 25px;
    color: red;
    text-align: left;
    font-size: 16px;
    line-height: 16px;
  }
}

.label-input {
  font-size: 16px;
  color: var(--main-text-color);

  &__input {
    text-align: right;
  }

  &__input::placeholder {
    font-size: 16px;
    color: var(--main-grey);
  }
}
.ava-img{
  height: 100px;
  width: 100px;
}

.button-LogOut {
  text-decoration: none;
  color: #6b5770;
  background-image: linear-gradient(90deg, #fd7f34, #bd155b);
  display: inline-block;
  padding: 14px 30px;
  border: 1px solid;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 25px;
  outline: none;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}
.button-LogOut:before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(90deg, #fd7f34, #bd155b);
  z-index: -2;
  transition: .4s;
  border-radius: 5px;
}
.button-LogOut:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #fff, #fff);
  z-index: -1;
  transition: .4s;
  border-radius: 4px;
}
.button-LogOut:hover {
  color: #fff;
  transition: .3s;
}
.button-LogOut:hover:after {
  background: linear-gradient(90deg, #fd7f34, #bd155b);
}
.button-LogOut:active:after {
  background: linear-gradient(90deg, #d96d2d, #760f3a);
}
.button-LogOut:focus-visible {
  box-shadow: 0 0 0 3px #fd7f34;
}
.button-LogOut:disabled {
  pointer-events: none;
}
.button-LogOut:disabled:before {
  filter: grayscale(100%);
}