    <div class="wrapper__form-profile">

        <div class="wrapper__ava">
            <label for="ava" class="label-ava">
                <input type="file" id="ava" name="ava" class="profile-ava">
                <img class="ava-img"  src={{pathAva}} alt="фото для профиля">
            </label>
            <form id="myUserForm">
                Картинка: <input id="avatar" type="file" name="avatar" accept="image/*">
                <input type="submit">
            </form>
            {{{logoutBtn}}}
        </div>
        {{{formProfile}}}

    </div>