    <div class="wrapper__form-profile">
        <div class="wrapper__ava">
            <label for="ava" class="label-ava">
                <input type="file" id="ava" name="ava" class="profile-ava">
                <img src="./img/profile_photo.png" alt="фото для профиля">
            </label>
            <p class="profile-name">Иван</p>
        </div>
        {{{formProfile}}}
    </div>