<div class="wrapper-form">
    <form class="form-signin" method="get" action="#">
        <div><h2>Регистрация</h2></div>
        <label for="login">Логин</label>
        {{> inputMail }}
        <label for="pass">Пароль</label>
        {{> inputPassword }}
        {{> buttonSubmit }}
        <a href="./login.html">Войти</a>

    </form>
</div>