
    <h1 class="header__caption">Список страниц</h1>
    <nav class="header__nav menu">
        <ul class="menu__list">
            <li class="menu__item">
                <a class="menu__link" href="./login.html">LogIn</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="./signin.html">SingIn</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="./profile.html">Profile</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="./chat.html">Chat</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="./404.html">404</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="./500.html">500</a>
            </li>
        </ul>
    </nav>
